
.seat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: black;
}

.player-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
    margin-top: 0.7rem;
    padding: 0.2rem;
}