*, *::after, *::before {
    box-sizing: border-box;
}

.tableMidCards {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 4rem);
    grid-template-rows: 7rem 2rem 7rem;
    gap: .5rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1rem;
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: .5rem;
    color: deeppink;
    user-select: none;
}

.text {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    align-items: center;
    font-size: 3rem;
    color: deeppink;
    user-select: none;
}

.card::before,
.card::after {
}
.card::after {

}

.card::after {

}


